<!-- Solo muestra el menú si no se ha seleccionado un cálculo -->
<div class="main-container">
<div *ngIf="activeCalculation === null" class="menu">
    <h1 class="title">Challenge Calculations</h1>
    <button class="menu-button" (click)="setActiveCalculation('1a')">Calculate 1a</button>
    <button class="menu-button" (click)="setActiveCalculation('3a')">Calculate 3a</button>
    <button class="menu-button" (click)="setActiveCalculation('5a')">Calculate 5a</button>
  </div>

  <!-- Sección de cálculo de media y desviación estándar -->
  <div *ngIf="activeCalculation === '1a'" class="calculation-container">
    <h1>Desviation and Mean Calculate</h1>
    <div>
      <input type="text" [(ngModel)]="inputArray" placeholder="Ingresa array">
      <button (click)="calcularMediaFromArray()">Calcular media</button>
      <textarea [(ngModel)]="mediaResult" placeholder="Media:"></textarea>
    </div>
    <div>
      <button (click)="calcularDesviacion()">Calcular Desviacion</button>
      <textarea [(ngModel)]="stdDevResult" placeholder="Desviacion Estandar:"></textarea>
    </div>
    <button class="menu-button" (click)="setActiveCalculation(null)">Volver al Menú</button>
  </div>
    
  <div *ngIf="activeCalculation === '5a'" class="calculation-container">
    <h1>Simpson and T calculate</h1>
    
    <!-- Formulario para el cálculo de Simpson -->
    <div>
        <div>
            <input type="text" [(ngModel)]="fx" placeholder="Ingresa f(x)">
            <input type="text" [(ngModel)]="x0" placeholder="x0">
            <input type="text" [(ngModel)]="x1" placeholder="x1">
            <input type="text" [(ngModel)]="numSegmentos" placeholder="Número de segmentos">
            <input type="text" [(ngModel)]="margenError" placeholder="Margen de error">
        </div>
        <button (click)="calcularSimpson()">Calcular Simpson</button>
        <textarea [(ngModel)]="resultadoSimpson" placeholder="Resultado:"></textarea>
    </div>
    
    <!-- Formulario para el cálculo de T -->
    <div>
        <div>
            <input type="text" [(ngModel)]="dof" placeholder="dof">
        </div>
        <button (click)="calcularT()">Calcular T</button>
        <textarea [(ngModel)]="resultadoT" placeholder="Resultado de t:"></textarea>
    </div>
  
    <!-- Botón para volver al menú principal -->
    <button class="menu-button" (click)="setActiveCalculation(null)">Volver al Menú</button>
</div> 
</div>